<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MMM-dd HH:mm:ss} [%t] %-5level %-50c{1.} - %msg%n"/>
        </Console>

        <File name="File" fileName="logFile.log">
            <PatternLayout pattern="%d{yyyy-MMM-dd HH:mm:ss} - %msg%n"/>
        </File>
    </Appenders>

    <Loggers>
        <Logger name="interesting_test_app.configuration.RequestAndResponseLoggingFilterConfig" additivity="false"
                level="info">
            <AppenderRef ref="File"/>
            <AppenderRef ref="Console"/>
        </Logger>

        <Root level="info">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>
